.project {
    color: var(--color3);
}

.title {
    color: var(--color4);
    text-align: center;
}

.togithub {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -2rem;
}
.github_svg {
    background-color: var(--color3a);
    padding: 4px;
    border-radius: 200px;
}

.links {
    display: flex;
    flex-direction: column;
}

.project_p {
    margin: 1rem 0;
    color: var(--color3a);
    text-align: justify;
}

.linkto {
    color: var(--color4);
    padding: 0.3rem;
    text-decoration: none;
    transition: ease-in-out 0.12s;
    border: 1px solid var(--color4);
}
@media (min-width: 600px) {
    .linkto {
        border-color: transparent;
    }

    .linkto:hover {
        border-color: var(--color4);
    }
}