.home {
    display: grid;
    margin: 0 16vw;
    transition: ease-in-out;
}

.title {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.name {
    color: var(--color3);
    font-size: 2.7rem;
    margin-bottom: -2rem;
}

.role {
    color: var(--color4);
    font-size: 3rem;
}

.description {
    color: var(--color3);
    font-size: 1.2rem;
    text-align: center;
}

.toprojects,
.tocontact {
    color: var(--color4);
    text-decoration: none;
}

.toprojects:hover,
.tocontact:hover {
    text-decoration: underline;
}

.skills_div{
    margin-top: 2rem;
    border-top: 1px solid #464646;
}

.skills_title {
    color: var(--color3);
    text-align: center;
    margin-bottom: 2rem;
}

.my_skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.tech {
    display: flex;
    width: 100px;
    flex-direction: column;
    align-items: center;
    background-color: var(--color2a);
    padding: 0.5rem;
    border-radius: 9px;
}

.tech_p{
    margin-bottom: 0.6rem;
    color: var(--color3);
}