:root {
    --wspColor: #25D366;
    --instaColor: #ff0055;
    --emailColor: #e68200;
    --linkedinColor: #0a66c2;
}

.title {
    text-align: center;
    color: var(--color3);
}

.contact {
    display: flex;
    justify-content: space-evenly;
    margin: 0 15vw;
    text-align: center;
}

.linkedin_title,
.email_title,
.insta_title,
.wsp_title {
    color: var(--color3a);
    user-select: none;
}

.logo_svg {
    pointer-events: all;
    stroke: var(--color3a);
}

.wsp_div:hover .wsp_title,
.wsp_div:hover .wsp_svg {
    color: var(--wspColor);
    stroke: var(--wspColor);
}

.insta_div:hover .insta_title,
.insta_div:hover .insta_svg {
    color: var(--instaColor);
    stroke: var(--instaColor);
}

.email_div:hover .email_title,
.email_div:hover .email_svg {
    color: var(--emailColor);
    stroke: var(--emailColor);
}

.linkedin_div:hover .linkedin_title,
.linkedin_div:hover .linkedin_svg {
    color: var(--linkedinColor);
    stroke: var(--linkedinColor);
}


@media (max-width: 599px) {
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}