:root {
    --wspColor: #25D366;
    --instaColor: #ff0055;
    --emailColor: #cedd00;
    --linkedinColor: #0a66c2;
    --githubColor: #53ffd4;
}

.title {
    text-align: center;
    color: var(--color4);
}

.contact {
    display: flex;
    justify-content: space-evenly;
    margin: 0 16vw;
    text-align: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.resume {
    color: var(--color3);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    gap: 2rem;
}

.btn_resume {
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid var(--color4a);
    color: var(--color4a);
    background-color: var(--color2);
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.btn_resume:hover {
    border-color: var(--color4);
    background-color: var(--color2a);
    color: var(--color4);
    -webkit-box-shadow: 0px 0px 63px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 63px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 63px -1px rgba(0, 0, 0, 0.75);
}

.todownload {
    color: var(--color4);
    text-align: center;
    margin: 0 16vw;
    text-decoration: none;
}

.todownload:hover {
    text-decoration: underline;
}

.email_div,
.linkedin_div,
.insta_div,
.wsp_div,
.github_div {
    background-color: var(--color2a);
    width: 120px;
    border-radius: 9px;
    padding-bottom: 0.9rem;
}

.linkedin_title,
.email_title,
.insta_title,
.wsp_title,
.github_title {
    color: var(--color3a);
    user-select: none;
}

.logo_svg {
    pointer-events: all;
}

.wsp_div:hover .wsp_title,
.wsp_div:hover .wsp_svg {
    color: var(--wspColor);
    stroke: var(--wspColor);
}

.insta_div:hover .insta_title,
.insta_div:hover .insta_svg {
    color: var(--instaColor);
    stroke: var(--instaColor);
}

.email_div:hover .email_title,
.email_div:hover .email_svg {
    color: var(--emailColor);
    stroke: var(--emailColor);
}

.linkedin_div:hover .linkedin_title,
.linkedin_div:hover .linkedin_svg {
    color: var(--linkedinColor);
    stroke: var(--linkedinColor);
}

.github_div:hover .github_title,
.github_div:hover .github_svg {
    color: var(--githubColor);
    stroke: var(--githubColor);
}

@media (max-width: 599px) {
    .github_svg {
        stroke: var(--githubColor);
    }

    .email_svg {
        stroke: var(--emailColor);
    }

    .insta_svg {
        stroke: var(--instaColor);
    }

    .linkedin_svg {
        stroke: var(--linkedinColor);
    }

    .wsp_svg {
        stroke: var(--wspColor);
    }
}