.title {
    text-align: center;
    color: var(--color4);
}

.contact {
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 2rem;
    margin-bottom: 4rem;
    flex-wrap: wrap;
}

.resume {
    color: var(--color3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.resume2 {
    color: var(--color3);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.btn_resume {
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid var(--color4a);
    color: var(--color4a);
    background-color: var(--color2);
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.btn_resume:hover {
    border-color: var(--color4);
    background-color: var(--color2a);
    color: var(--color4);
    -webkit-box-shadow: 0px 0px 63px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 63px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 63px -1px rgba(0, 0, 0, 0.75);
}

.todownload {
    color: var(--color4);
    text-decoration: none;
}

.todownload:hover {
    text-decoration: underline;
}
.to_henry{
    color: var(--color4);
    text-decoration: none;
}

.email_div,
.linkedin_div,
.insta_div,
.wsp_div,
.github_div {
    background-color: var(--color2a);
    width: 120px;
    border-radius: 9px;
    padding-bottom: 0.9rem;
    border: 1px solid transparent;
    color: var(--color3a);
    transition: ease-in-out 0.15s;
    text-decoration: none;
}

.email_div:hover,
.linkedin_div:hover,
.insta_div:hover,
.github_div:hover,
.wsp_div:hover {
    border: 1px solid var(--color4);
    color: var(--color4);
    stroke: var(--color4);
}


@media (min-width: 1000px) {
    .email_link_app {
        display: none;
    }
}

@media (max-width: 999px) {
    .email_link {
        display: none;
    }
}