.navbar {
    background-color: var(--color1);
    margin-bottom: 1rem;
    padding: 0.7rem;
    -webkit-box-shadow: 0px 0px 35px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 35px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 35px 1px rgba(0, 0, 0, 0.75);
}

.limit_navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 16vw;
}
.links {
    font-weight: bold;
    grid-column: 3;
    display: flex;
    gap: 1rem;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
}

.link_contact,
.link_projects {
    text-decoration: none;
    color: var(--color3);
    padding: 0.5rem;
}

.link_contact:hover,
.link_projects:hover {
    color: var(--color3a);
}

.logo {
    grid-column: 1;
    height: 2rem;
    width: 2rem;
}

.logo_img {
    border-radius: 3px;
    width: 2.5rem;
}

.logo_img:hover {
    opacity: 0.9;
}

@media (max-width: 599px) {
    .limit_navbar{
        margin: 0 10vw;
    }
}