:root {
  --color1: #640092;
  --color2: #1b1b1b;
  --color3: #ffffff;
  --color3a: #d6d6d6;
  --color4: #ffc400;
  --FFRaleway: 'Raleway', sans-serif;
}

body {
  background-color: var(--color2);
  margin: 0;
  font-family: var(--FFRaleway);
}